form {
  border: 1px solid grey;
  padding: 12px;
}
label {
  display: block;
  text-align: left;
  padding: 0 0 0 6px;
  
}



button {
  margin: 6px;
  display: block;
}


.inputs {
  display: block;
  width: 90%;

  
}